/* 全体の背景色 transition */
body {
  transition: background-color 5.0s ease; /* 5秒でフェード */
}

/* ステージごとの色 */
body.stage-0 { background-color: #ffffff; }
body.stage-1 { background-color: #d5d5d5; }
body.stage-2 { background-color: #ac9595; }
body.stage-3 { background-color: #64281c; } /* クリア時 */


/* ボタン */
.btn-container {
  text-align: center;
}

button {
  width: 80%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
    margin-bottom: 10px; /* 縦方向に10px間隔 */
  display: block;       /* 縦並び用 */

  /* ボタンにカーソルを当てると、カーソルがポインターに変わる */
  cursor: pointer;
}

/* ボタンにカーソルを当てたとき、ボタンを半透明にする */
button:hover {
 opacity: 0.7;
}

/* 最初は選択肢を隠す */
.buttons.hidden {
  display: none;
}
